<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alokairu</title>
</head>
<body>
    <h1>Kotxeak</h1>

    <table border="1">
        {% for x in mykotxea %}
        <tr>
            <td>{{ x.modeloa }}</td>
            <td>{{ x.data }}</td>
            <td>{{ x.pertsona.name }} </td>
            <td><a href="/delkotxea/{{x.id}}">DELETE</a></td>
            <td><a href="/updatekotxea/{{x.id}}">UPDATE</a></td>
        </tr>
        {% endfor %}
        <a href="/addkotxea">ADD</a>
    </table>
    <br>
    <a href="/">BACK</a>
</body>
</html>